@media (max-width: 1000px) {
  .main-both-side {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 10rem;
  }

  .right_img {
    width: 350px;
  }

  .moon-left-side {
    gap: 2rem;
    margin-top: 1rem;
  }

  .moon-text-left {
    justify-content: center;
  }
}

@media (max-width: 820px) {
  .header {
    padding: 0.5rem 2rem;
  }
  /* MOBILE */

  .btn-mobile-nav {
    display: block;
  }

  nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
  }

  .header {
    /* position: relative; */
  }

  .nav-open nav {
    width: 50%;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(10);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    z-index: 9;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    font-size: 26px;
  }

  .main-nav-list li a {
    color: #fff;
    font-size: 25px;
  }

  .icon-mobile-nav[name="menu-outline"] {
    color: #fff;
  }

  .both_column {
    flex-direction: column;
    gap: 1rem;
  }

  .column {
    flex-direction: row;
  }
}

@media (max-width: 580px) {
    .main-both-side {
        margin-top: 12rem;
    }
}

@media (max-width: 440px) {
    .right_text {
        text-align: center;
    }

    .right_text p:nth-child(2) {
        font-size: 40px;
    }
}

@media (max-width: 390px) {
    .right_img {
        width: 280px;
    }

    .right_text p:nth-child(3) {
        font-size: 15px;
    }
}

@media (max-width: 340px) {
    .right_text p:nth-child(3) {
        font-size: 14px;

        line-height: 20px;

    }

    .main-both-side {
        margin-top: 10rem;
    }
}

@media (max-width: 315px) {
    .right_text p:nth-child(2) {
        font-size: 35px;
    }
    .right_text p:nth-child(3) {
        font-size: 13px;
    }
}

@media (max-width: 295px) {
    .right_img {
        width: 220px;
    }

    .right_text p:nth-child(3) {
        font-size: 12px ;
    }
}